 <%= render "shared/partial" %>
 
 <% if flash[:success] %>
   <p class="success"><%= flash[:success] %></p>
 <% end %>
 
<div class = "page_title">
<h3>予定一覧</h3>
<button><%= link_to "スケジュール新規追加", :new_scheduling %></button>
</div>
 
 <table>
   <thead>
     <tr>
       <th>id</th>
       <th>タイトル</th>
       <th>開始日</th>
       <th>終了日</th>
       <th>終日</th>
       <th>更新日</th>
       <th></th>
       <th></th>
       <th></th>
     </tr>
   </thead>
   
 <tbody>
     <% @schedulings.each do |scheduling| %>
       <tr>
         <td><%= scheduling.id %></td>
         <td><%= scheduling.title%></td>
         <td><%= scheduling.start_date.strftime("%Y/%m/%d") %></td>
         <td><%= scheduling.end_date.strftime("%Y/%m/%d") %></td>
         <td><%= scheduling.all_day ? "◯" : "" %></td>
         <td><%= scheduling.updated_at.to_s(:datetime) %></td>
         <td>
         <%= link_to "詳細",scheduling %>
         </td>
          <td>
           <%= link_to "編集", [:edit, scheduling] %>
         </td>
         <td>
          <%= link_to "削除", scheduling, method: :delete, data: { confirm: "本当に削除しますか？" } %>
         </td>
         
       </tr>
     <% end %>
   </tbody>
 </table>
 
 <div class ="information">
  <a><%= "合計予定数：#{@schedulings.count}件" %></a>
  <a class = date_today><%= "本日の日付：#{Date.today.strftime("%Y/%m/%d")}" %></a>
 </div>
