<h3>新規追加</h3>
 
 <% if flash[:failure] %>
   <p class="failure"><%= flash[:failure] %></p>
 <% end %>
 
 <%= render "shared/error", obj: @scheduling %>
 
 <%= form_with model: @scheduling do |f| %>
   <table>
     <tr>
       <th><%= f.label :title ,"タイトル" %></th>
       <td><%= f.text_field :title %></td>
     </tr>
 
     <tr>
       <th><%= f.label :start_date ,"開始日" %></th>
       <td><%= f.date_field :start_date %></td>
     </tr>
     
     <tr>
       <th><%= f.label :end_date ,"終了日" %></th>
       <td><%= f.date_field :end_date %></td>
     </tr>
     
     <tr>
      <th><%= f.label :all_day, "終日" %></th>
      <td><%= f.check_box :all_day, {}, true, false %>終日の場合はチェックを入れます</td>
    </tr>
     
     <tr>
       <th><%= f.label :memo ,"スケジュールメモ" %></th>
       <td><%= f.text_area :memo %></td>
     </tr>
   </table>
 
   <div>
     <ul>
       <li><%= f.submit "登録完了する"%></li>
       <li><%= link_to "ユーザー情報一覧に戻る", :schedulings %></li>
     </ul>
   </div>
 <% end %>